<h1>投稿一覧</h1>

<table>
  <thead>
    <tr>
      <th>内容</th>
      <th>ユーザー</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.content %></td>
        <td><%= blog.user.name %></td>
        <td><%= link_to '詳細', blog %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'お気に入り一覧へ', favorites_path %>
<%= link_to '投稿する', new_blog_path %>
