<!DOCTYPE html>
<html>
  <head>
    <title>RailsExamClone3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header id="header"><p>Weird instagram</p></header>

    <div id="body">
    <%= yield %>
    </div>

    <div id="footer">Weird instagram</div>

  </body>

</html>
